.sell-container{
    overflow: hidden;
    overflow-y: hidden;
}
.inner-header {
    box-shadow: 0px 4px 1px 0px rgb(4, 83, 13);
    background-color: #474947;
    background: transparent;
    z-index: 10;
  }
  
  .container-header {
    max-width: 1340px;
    margin: 0 auto;
  }
  
  .main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 22px;
  }
  
  .logo1 > a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.5rem;
  }
  .bars > svg {
    cursor: pointer;
  }
  .list-items > ul {
    display: flex;
    list-style: none;
  }
  
  .list-items ul li {
    padding: 0px 22px;
  }
  
  .list-items ul li a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
  }
  
  .list-items ul li a::before {
    content: "";
    transition: 1s ease;
    position: absolute;
    width: 0;
    border-bottom: 2px solid black;
    top: 22px;
  }
  
  .bars {
    display: none;
  }
  
  .list-items ul li a:hover::before {
    width: 100%;
  }
  
  @media only screen and (max-width: 900px) {
    .bars {
      display: block;
    }
  
    .main-header {
      position: relative;
    }
  
    .active {
      left: 0 !important;
    }
  
    .list-items {
      transition: 1s ease;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 95px;
      left: -100%;
      width: 100%;
      height: 100vh;
      background-color: #ddd;
    }
  
    .list-items ul {
      padding: 22px 22px;
      height: 100vh;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .bars svg {
      width: 35px;
      height: 35px;
    }
  
    .list-items ul li a {
      color: black;
    }
  
    .list-items ul li a::before {
      content: none;
    }
  }
  
#wrapper {
    margin-top: 0.3%;
    width:100vw;
    height: 90vh;
    float: right;
    position:relative;
    clip-path: polygon(63% 0, 100% 0, 100% 100%, 40% 100%);
  }
  
  #wrapper p {
    text-align: center;
    color: #fff;
    
    font-size: 2em;
    font-family: "Arial Black", sans-serif;
    text-shadow: 2px 2px #555;
  }
  
  #slideshow {
    border: 1px solid #fff;
    background: url(../images/6482ec181d73d_central-government-schemes-for-farmers-in-india.webp) no-repeat; /* this default image will show where browsers unable to process the [animation] function */
    background-size: 100% 100%;
    height: 90vh;
    width:60vw;
    float:right;
    -webkit-animation: slider 10s infinite ease-in-out;
    -webkit-animation-direction: alternate;
    animation: slider 10s infinite ease-in-out;
    animation-direction: alternate;
  }
  
  @-webkit-keyframes slider {
    0% {
      background: url(../images/image8.png) no-repeat;
      background-size: 100% 100%;
    }
    25% {
      background: url(../images/image9.png) no-repeat;
      background-size: 100% 100%;
    }
    50% {
      background: url(../images/image10.png) no-repeat;
      background-size: 100% 100%;
    }
    100% {
      background: url(../images/image11.png) no-repeat;
      background-size: 100% 100%;
    }
  }
  
  @keyframes slider {
    0% {
        background: url(../images/image8.png) no-repeat;
        background-size: 100% 100%;
      }
      25% {
        background: url(../images/image9.png) no-repeat;
        background-size: 100% 100%;
      }
      50% {
        background: url(../images/image10.png) no-repeat; 
        background-size: 100% 100%;
      }
      100% {
        background: url(../images/image11.png) no-repeat;
        background-size: 100% 100%;
      }
  }
  
  .logo {
    position: relative;
    width: 60%;
    height: 100%;
  }
  
  @media screen and (max-width: 768px) {
    #wrapper {
      width: 100%;
      margin:1em auto;
    }
    
    #wrapper p {
   font-size: 1.25em;
   letter-spacing:0.15em;
   text-shadow: 2px 1px #000;
   overflow:hidden;
   }
          
    #slideshow {
      width: 100%;
      height: auto;
      background-size: cover;
    }
    #slideshow img {
      max-width: 100%;
      margin: 0 auto;
    }
  }