.loginmain {
  background-color: #eff6e0;
  height: 100vh; /* Change to 100vh for entire page height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page-container {
  background-color: #eff6e0;
  width: 20vw; /* Adjust width as needed */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #283618;
  border-radius: 0.5rem;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.form-group{
  margin-top: 2rem;
}
.but2{
  margin-top: 2rem;
  font-weight: 600;
  background-color: #283618;
  color: #eff6e0;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.input2 {
  width: 100%; /* Change to 100% for full width */
  padding: 0.5rem;
  margin-bottom: 2rem;
  border: none;
  border-bottom: 1px solid #283618;
  box-sizing: border-box;
  margin-top: 2rem;

}

.input2::placeholder {
  font-size: 1.1rem;
  
}

.loginbutton {
  background-color: #eff6e0;
  color: #283618;
  padding: 0.8rem 1rem;
  border: 2px solid #283618;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  margin-top: 1rem;
  /* margin-right: 2rem; */
  transition: background-color 0.5s, color 0.5s;
}

.loginbutton:hover, 
.loginbutton:active {
  font-weight: 600;
  background-color: #283618;
  color: #eff6e0;
  padding: 0.8rem 1rem;
  
}
.but1{
  margin-right: 2rem;
}
.but1.active {
  font-weight: 600;
  background-color: #283618;
  color: #eff6e0;
  padding: 0.8rem 1rem;
}


.login-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  justify-content: space-between;
  margin: 2rem;
  margin-right: 2rem;
}

.login-options button {
  background-color: #eff6e0;
  color: #283618;
  padding: 0.5rem 1rem;
  border: 2px solid #283618;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: 600;

  transition: background-color 0.5s, color 0.5s;
}

.login-options button:hover {
  background-color: #283618;
  color: #eff6e0;
}
