.login-page-container {
  max-width: 400px;
  padding: 20px;
  border: 1px solid black;
  /* margin: 0 auto; */
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.loginmain {
  background-color: red;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.login-options button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
}

.login-options button:hover {
  background-color: #0056b3;
}

.login-form .form-group {
  margin-bottom: 15px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}
.login-options button {
  flex: 1; /* Equal width for both buttons */
  margin-right: 10px; /* Add some spacing between buttons */
  padding: 10px 0; /* Adjust padding for vertical alignment */
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
}

.login-options button:last-child {
  margin-right: 0; /* Remove margin for the last button */
}

.login-options button:hover {
  background-color: #0056b3;
}
