/* Addfruit.css */

.fruits {
  background-color: #f3fde8;
  width: 100vw;
  height: 100vh;
  margin-top: -1rem;
}

.sj-product-form-container-custom {
  width: 30%;
  padding: 2rem;
  background-color: #f3fde8;
  position: fixed;
  border-right:2px solid green;
}

.sj-form-group-custom {
  margin-bottom: 1rem;
}

.sj-product-form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sj-form-group-custom label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
  margin-left: 1rem;
  
}
.descrip{
  margin-left: 2rem ;
}
.sj-form-group-custom input[type="text"],
.sj-form-group-custom input[type="date"],
.sj-form-group-custom input[type="number"],
.sj-form-group-custom textarea,
.sj-form-group-custom select {
  width: 80%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}
.sj-form-group-custom textarea {
  height: 1rem;
}
.fruit-date1{
  text-align: left;
  margin-left: -2rem;
  text-align: left;
}
.fruit-date2{
  text-align: left;
  margin-left: -1rem;
}
.sj-button-custom {
  background-color: #6cba70;
  color: white;
  padding: 1rem 1rem;
  border: none;
  border-radius: 0.4rem;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.sj-button-custom:hover {
  background-color: #41b06e;
}