.signup-page-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.signup-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.signup-options button {
  flex: 1; /* Equal width for both buttons */
  margin-right: 10px; /* Add some spacing between buttons */
  padding: 10px 0; /* Adjust padding for vertical alignment */
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
}

.signup-options button:last-child {
  margin-right: 0; /* Remove margin for the last button */
}

.signup-options button:hover {
  background-color: #0056b3;
}

.signup-form .form-group {
  margin-bottom: 15px;
}

.signup-form label {
  display: block;
  margin-bottom: 5px;
}

.signup-form input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-form button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #0056b3;
}
.full-page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black color */
  z-index: 1; /* Ensure it's above other content */
}

.signup-form-container {
  position: relative; /* Ensure that the form container is positioned relative to the full-page overlay */
  z-index: 2; /* Ensure it's above the full-page overlay */
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
