body{
    margin: 0;
}
.farmer-container{
    inset: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
.shadow-patch{
    height: 100vh;
    width:4px;
    background: transparent;
}
.farmer-left{
    background-color: #142A15;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 60%;
}
.farmer-right{
    /* background-image:url(./image.png); */
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    width: 40%;

}